# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# MLflow
mlruns/
mlartifacts/

# Airflow
logs/
airflow.db
airflow.cfg

# Docker
*.log

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
model.pkl
inspect_model.py
